@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .lobby will compile to
  .lobby.user-list

  for more information visit https://sass-lang.com/guide
 */

 // 
 .gameround {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    flex: 1 1 50%; // Take up half the width
    min-width: 350px;
    max-width: 50%;
    text-align: center; // This will center-align text within the container

    h2 { // Assuming the title uses an <h2> tag or adjust accordingly
      width: 100%;
      text-align: center;
    }
  
  }
  &.side-by-side-containers {
    display: flex;
    flex-direction: row; // Ensures side-by-side layout
    justify-content: center; // Center the items horizontally
    align-items: center; // Center the items vertically, important for your requirement
    width: 100%; // Full width to the container
    gap: 50px; // Space between the containers
    }

  .title-font {
    font-family: 'Helvetica', sans-serif;  // Example font family
    font-size: 24px;  // Example font size
    font-weight: bold;  // Example font weight
  }     
}

.map {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($accent, 5);
  }
  &.name {
    font-weight: 300;
    margin-left: 5px;
  }
  &.username {
    font-weight: bold;
    color: $boxText;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontDefault;
    font-weight: 300;
  }
}