@import "../theme";

.info-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    width: 70px; // Adjust size as necessary
    height: 70px; // Adjust size as necessary
  }
  
  .info-window {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: white;
    border-radius: $borderRadius;
    box-shadow: $dropShadow;
    z-index: 100;
    width: 600px; // Adjust as necessary
    height: 250px; // Adjust as necessary
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: justify; /* Justify text within the info window */
        width: 100%; /* Ensure the paragraph uses the full width of the info window */
        hyphens: auto; /* Enables automatic hyphenation */
        -ms-hyphens: auto; /* For IE/Edge */
        -webkit-hyphens: auto; /* For Safari */
        -moz-hyphens: auto; /* For Firefox */
    }

  }  