@import "../theme";
.profile {

  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: left;
    box-shadow: $dropShadow;
    width: 400px; 
  }

  &.title {
    color: $boxText;
    font-weight: bold;
    font-size: 25px;
    @include center;
  }

  &.text {
    color: $boxText;
    font-weight: bold;
    font-size: 25px;
    @include center;
  }

  &.label {
    color: $boxText;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}