@import "../theme";

.parameter.base-container {
    position: fixed; 
    top: 200px;
    right: 250px; 
    width: auto;
    height: auto; 
    border-radius: $borderRadius;
    box-shadow: $dropShadow;
    background: $background;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px; 
    overflow: hidden;
}

.parameter.title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.parameter.description {
    text-align: center;
    margin-bottom: 10px;
}